.idea/
build/
build_*/
.ExternalSource/
examples/huestream_example_gui_win/*.aps
build/*
cmake-build-debug/*
wrappers/csharp/example/HueStreamExampleWPF/obj/
wrappers/csharp/example/packages/
wrappers/csharp/example/HueEffectEditor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
wrappers/csharp/example/HueEffectEditor/obj/Debug/GeneratedInternalTypeHelper.g.cs
wrappers/csharp/example/HueEffectEditor/obj/
wrappers/csharp/example/.vs/huestream/v14/.suo
/target/
/bin/
/examples/PerformanceTest/version.h
*.dll
*.zip
*.marker
3rd_party/curl/
3rd_party/googletest/
3rd_party/mbedtls/
3rd_party/boost/
3rd_party/mdns_responder/
3rd_party/nghttp2/
doxygen/
/wrappers/java/android-edk-aar/.gradle
/wrappers/java/android-edk-java-dummy/app/libs/hue-edk.aar
/examples/huestream_example-android/app/libs/hue-edk.aar
/examples/huestream_csharp_example_wpf/${csharp_obj_dir_dos_style}/Debug
