<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.signify.android.hueexample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-feature
        android:name="android.hardware.touchscreen"
        android:required="false" />
    <uses-feature android:name="android.software.leanback"
        android:required="false" />

    <application
        android:name=".HueExampleApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:banner="@drawable/ic_banner"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LEANBACK_LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HueSetupActivity"
            android:label="@string/hue_setup_title"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".HueConnectActivity"
            android:label="@string/app_name"
            android:noHistory="true">
        </activity>
        <activity
            android:name=".HuePushlinkActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Dialog"
            android:noHistory="true"/>
    </application>

</manifest>